{% extends 'base.html' %}

{% block content %}
    <div class="contact-container">
    <!-- Misión y Visión -->
        <div class="mision-vision-col px-4 py-5 mx-auto">
            <h3 class="mb-3 fw-bold" style="color:#225d89;">Misión</h3>
            <p class="text-muted fs-5 mb-6 ">
            Brindar atención veterinaria de calidad, con cariño y profesionalismo, 
            cuidando la salud y bienestar de tus mascotas. <br>
            También prestamos servicio de pase día y spa para que tu mascota disfrute y se relaje.
            </p>

            <div class="line-separator"></div>

            <h3 class="mt-5 mb-3 fw-bold" style="color:#225d89;">Visión</h3>
            <p class="text-muted fs-5">
            Ser la clínica veterinaria de referencia en la región, reconocida por 
            nuestro compromiso con el cuidado integral de los animales y la satisfacción de sus dueños.
            </p>
        </div>

    <!-- Contacto -->
        <div class="contacto-section text-white py-5 px-4">
            <h2 class="mb-4 fw-bold">Contáctanos</h2>
            <ul class="list-unstyled fs-5">
            <li><strong>Teléfono:</strong> +54 9 11 1234 5678</li>
            <li><strong>WhatsApp:</strong> +54 9 11 9876 5432</li>
            <li><strong>Correo:</strong> contacto@veterinariaejemplo.com</li>
            <li><strong>Redes Sociales:</strong> 
                <a href="#" class="text-warning text-decoration-none ms-2">Facebook</a> | 
                <a href="#" class="text-warning text-decoration-none ms-2">Instagram</a> | 
                <a href="#" class="text-warning text-decoration-none ms-2">Twitter</a>
            </li>
            </ul>
        </div>
    </div>
{% endblock %}