{% extends 'base.html' %}

{% block content %}
  <section class="hero d-flex align-items-center justify-content-center text-center">
    <div>
      <h1 class="display-4 fw-bold">Cuidamos a tus mascotas</h1>
      <p class="lead mb-4">Amor, salud y bienestar para tu compañero más fiel.</p>
      <a href="#" class="btn btn-infe px-4 py-2">Agendar Cita</a>
    </div>
  </section>

  <section class="container py-5">
    <div class="text-center mb-5">
      <h2 class="fw-semibold">Nuestros Servicios</h2>
      <p class="text-muted ">Atención médica, vacunas, esterilización y más.</p>
    </div>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">Consultas Generales</h5>
            <p class="card-text text-center text-muted">Evaluaciones, chequeos y prevención para tus mascotas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">Vacunación</h5>
            <p class="card-text text-center text-muted">Calendario completo de vacunas para perros y gatos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">Esterilización</h5>
            <p class="card-text text-center text-muted">Procedimientos seguros para el control de natalidad.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">Servicio de guarderia</h5>
            <p class="card-text text-center  text-muted">Nuestro servicio de guardería ofrece atención, juegos y cuidado personalizado durante todo el día, en un ambiente seguro y lleno de amor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">SPA</h5>
            <p class="card-text text-center text-muted">ofrecemos baños especiales, masajes, cepillado y tratamientos naturales que cuidan su piel y pelaje. ¡Porque ellos también merecen consentirse!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}