{% extends 'base.html' %}

{% block content %}
    <div class="register-container">
        <h2>Crear Cuenta</h2>
        <form method="post">
            {% include "mensajes.html" %}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <input 
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.name }}"
                        placeholder="{{ field.label }}"
                        value="{{ field.value|default:'' }}"
                        required
                    >
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Registrarse</button>
        </form>
    </div>
{% endblock %}